html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #FFD54F;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.flex-container {
  position: relative;
  flex: 0 0 80vw;
  margin-left: -1rem;
  margin-right: -1rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  transition: border 0.25s ease;
  &:after {
    content: "flex-container";
    position: absolute;
    top: -4rem;
    left: -2rem;
    opacity: 0.25;
    font-size: 2rem;
    transition: opacity 0.25s ease;
  }
  &:hover {
    border: 0.25rem solid rgba(255, 255, 255, 0.75);
    &:after {
      opacity: 0.5;
    }
  }
}

.flex-item {
  background-color: white;
  height: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.25s ease;
  &:hover {
    color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  &.add {
    flex: 0 0 auto;
    width: 0;
    opacity: 0;
    transition: all 0.25s ease;
  }
}

.add-flex-item {
  background-color: #FFD54F;
  border: 2px solid white;
  color: white;
  width: 3rem;
  height: 3rem;
  z-index: 10;
  transition: all 0.1s ease;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: white;
    color: #FFD54F;
    transform: scale(1.2, 1.2);
  }
}